<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Streamline</title>
</head>
<body>
    <div class="content">
        <h1>Welcome to Streamline</h1>
        <form method="post" action="/launch-encoder">
            <div>
                <div class="formItem">
                    <div class="formLabel">Origin</div>
                    <input type="text" name="origin">
                </div>
                <div class="formItem">
                    <div class="formLabel">CDN</div>
                    <input type="text" name="cdn">
                </div>
            </div>
            <div class="formItem"><button class="submitButton" type="submit">Launch Encoder</button></div>
        </form>
    </div>
</body>
</html>
